# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
plan.md

# Production
dist/
build/
.next/
out/

# Misc
.DS_Store
*.log
*.tmp
*.swp
.env
.env.local
.env.*.local

# IDEs
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?